* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
   
    box-sizing: border-box;
}

.container {
    padding: 0px 95px;
    height: 100vh;
}

.aside {
    width: 25%;
    height: 100vh;
    position: fixed;
    margin: 0 2px;
    background:url('asidebg.jpg');
    color:white;
}


.intro {
    width: 100%;
    height: 38%;
    padding: 30px 0px;
}


.author-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 15px;
}

.author-img h1 {
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    padding: 2px;
    /* font-weight: bold; */
}

.author-img span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding-top: 10px;
    color: #fff;
}


.author-img img {
    height: 124px;
    width: 127px;
    margin-top: 43px;
    margin-bottom: 40px;
    border-radius: 50%;
    border:2px solid white;
}

.navbar {
    height: auto;
    width: 100%;
}


.navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 84px 0;
}

.navbar ul li {
    list-style: none;
    padding: 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: #2c98f0;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}
.navbar ul li.active a{
    color: #fff;
} 
.navbar ul li a:hover{
    color:white;
}
.navbar ul li a::after{
    position: relative;
    content: "";
    width: 0px;
    height: 2px;
    color: white;
    display: block;
    background-color: cornflowerblue;
    transition: width .3s;
}
.navbar ul li a:hover::after{
    width:100%;
}
.home{
    position: absolute;
    top: 0;
    left: 32%;
    width:850px;
    height: 125vh;
    background:url('uphead.jpg');
    /* background-position: center; */
    /* box-sizing: border-box; */

}
.hometitle{
    position: relative;
    top: 500px;
    padding: 20px;
    left: 50px;
}
.hometitle .title{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 5px;
    display: inline-block;
    background-color: white;
    opacity: 0.5;
    padding:20px;
    margin-bottom: 30px;
    transition: ease-in-out .5s;
}
.hometitle .title1{
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    background-color: white;
    padding:20px;
}
.about{
    position: relative;
    top: 180px;
    left: 32%;
    width:850px;
    height:70vh;
}
.inner-about{
    margin-top: 80px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inner-about h1{
    font-family: 'Raleway', sans-serif;
    padding: 30px;

}
.inner-about p{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: grey;
    line-height: 2;
    
}
.skill{
    position: relative;
    top: 180px;
    left: 32%;
    width:850px;
    height:60vh;
}
.containerskill{
    margin-left: 97px;
}
.skill h1{
    font-family: 'Raleway', sans-serif;
   margin: 0 auto;
    width: 89px;
    margin-bottom: 60px;
}
svg{
    height:100%;
    width:100%;
}
.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.s1{
    height:180px;
    width:173px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
circle{
   transform: translate(5px,5px);
}
.protitle{
    padding-right: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.percent{
    font-family: 'Raleway', sans-serif;
    padding-right: 25px;
    position: absolute;
    top: 154px;
    font-weight: bold;
    font-size: 20px;
}
.education{
    position: relative;
    top: 300px;
    left: 32%;
    width:850px;
    height:190vh;
}
.tagline{
    margin: 0px auto;
    width: 17px;
    margin-bottom: 94px;
    font-family: 'Raleway', sans-serif;
}
.eduschool{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10em;
    /* border: 1px solid black; */
    padding:10px;
    box-shadow: 2px 2px 3px grey;
    margin-left:5px;
    background: url('edubgd.png');
 
}
.schoolintro{
    padding:0px 40px;
    line-height: 1.5;
}
.titleedu{
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 1000;
}
.subtitleedu{
    font-family: 'Raleway', sans-serif;
    color: grey;
    font-weight: bold; 
}
.educlg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10em;
    /* border: 1px solid black; */
    padding:10px;
    box-shadow: 2px 2px 3px grey;
    margin-left:5px;
    background: url('edubgd.png');

}
.clgintro{
    padding:0px 40px;
    line-height: 1.5;
}
.educlg img{
    margin-left: 50px;
}
.edudeg{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    padding:10px;
    margin-bottom: 10em;
    box-shadow: 2px 2px 3px grey;
    margin-left: 5px;
    background: url('edubgd.png');

}
.degintro{
    padding:0px 40px;
    line-height: 1.5;
}
.portfilo{
    position: relative;
    top: 300px;
    left: 32%;
    width:850px;
    height:100vh;
}
.rowport{
    display: flex;
    justify-content: center;
    align-items: center;
}
.firstrowimg{
    height:300px;
    width:433px;
    padding:40px;
}
.firstrowimg:hover{
    transform: scale(1.1);
}
.contact{
    position: relative;
    top: 450px;
    left: 32%;
    width:850px;
    height:100vh;
}
.bgcont{
    background-color: cornflowerblue;
    color:white;
    margin-left:30px;
    height:200px;
    position: relative;
    margin-bottom: 6em;
}
.bgtitlecont{
    margin:0px auto;
    width:165px;
    line-height: 3;
    position: relative;
    font-family: 'Raleway', sans-serif;

}
.bgcont::before{
    position: relative;
    content: "";
    top: 161px;
    transform: skew(10deg, 10deg);
    left: -6px;
    width: 469px;
    height: 81px;
    background-color: #fff;
    display: inline-block;
}
.bgcont::after{
    position: relative;
    content: "";
    top: -26px;
    /* transform: skew(10deg, 10deg); */
    left: 379px;
    transform: rotate(-12deg);
    width: 467px;
    height: 88px;
    background-color: #fff;
    display: inline-block;
}
.contactform{
    background-color:white;
    margin-left: 35px;
    width: 410px;
    height: 400px;
    display: flex;
}
.left{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    width: 423px;
    height: 400px;
    background: url('cont.jpg');
    background-position: center;
}
.conttitle{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}
.contsubtitle{
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
    margin-bottom: 10px;
    background-color: cornflowerblue;
    padding: 10px;
}
.add{
    margin: 10px 115px;
    /* padding:13px; */
}
.contactno{
    margin: 10px 115px;
}
.contmail{
    margin: 10px 115px;
}
.right{
    width: 423px;
    height: 400px;  
    background-color: rgba(128, 128, 128,0.3);
}
.sec{
    margin:10px 30px;
}
.tagline1{
    margin: 0px auto;
    width: 381px;
    margin-bottom: 1em;
    font-family: 'Raleway', sans-serif;
}

input{
    padding:10px;
    border: none;
    outline: none;
    width:304px;
    background: transparent;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
    
}
.btn{
    padding: 10px 15px;
    
    border: none;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 2px;
    outline: none;
    color:white;
    background-color: black;
}
.btn:hover{
    cursor: pointer;
    background-color: cornflowerblue;
    color: black;
    transition: 1s ease-in-out;
}
.rowsocial{
    margin: 40px auto;
    width: 144px;
}
.rowsocial a{
    padding:10px;
    font-size: 25px;
    color:black;

}
.rowsocial a:hover{
    background-color: cornflowerblue;
    color:white;
}
.location{
     position: relative;
    top: 450px;
    left: 32%;
    width:850px;
    height:100vh;
}
.contloco{
    margin-left: 44px;
}
.btn1{
    padding:20px 20px;
    border: none;
    outline:none;
    background-color: black;
    border-radius: 100px;
    box-shadow: 0px 0px 10px grey;

}
.btn1 a{
    text-decoration: none;
    padding:20px 20px;
    color:white;
    font-family: 'Raleway', sans-serif;
}
.indebtn{
    /* margin: 0px auto; */
    float: right;
    width: 144px;
    margin-bottom: 10px;
}
.btn1:hover, .btn1 a:hover{
    background-color: white;
    color: black;
    font-weight: bold;
    transition: .3s;
}
/* RESponsive */
@media screen and (max-width: 1318px) {
     .container{
      visibility: hidden;
    }
  }